
/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   By:youthenlight.com
   ========================================================================== */
/* (1920x1080) Full HD Display */

@media  screen and (max-width: 1920px) {}

/* (1366x768) WXGA Display */
@media  screen and (max-width: 1366px) {}



/*---------------- iPads (portrait and landscape) ----------------------
=========================================================================*/
@media only screen and (min-device-width: 980px) and (max-device-width: 1280px) {
  .school_name h2 {
  font-size: 30px;
}
    
   /*---------------- Nav manu Start ---------------------- */ 
    .nav_button {
  display: none;
}  
    
    
 .topnav {
  display: block;
     width: 100%;
} 
    
    
  .topnav a {display: none;}
  .topnav a.icon {
    float: left;
    display: block;
  }
     .topnav.responsive {position: relative;}
    
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
      visibility: hidden;
  } 
    .topnav.responsive .close {
  font-size: 24px;
  position: absolute;
  right: 18px;
  top: 14px;
  visibility: visible;
}
    .close{
        visibility: hidden;
    } 
.topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
     /*-----------------=== Smart Manu End ===-----------------------
    ================================================================*/ 
    .search_ber input {
  width: 77%;
}
    .important_link a:hover .fa{
        visibility: hidden;
    }
    .important_link a .fa{
        margin-left:0px;
    }
    
    .user_name {
  width: 90%;
}
    .passwoard_text {
        width: 95%;
}
   
}
/*------------------- iPads (portrait and landscape) --------------------
==========================================================================*/

@media only screen and (min-device-width: 768px) and (max-device-width: 980px) {
     .nav_button {
  display: none;
}  
.topnav {
  display: block;
     width: 100%;
} 
 .topnav a {display: none;}
  .topnav a.icon {
    float: left;
    display: block;
  }
     .topnav.responsive {position: relative;}
    
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
      visibility: hidden;
  } 
    .topnav.responsive .close {
  font-size: 24px;
  position: absolute;
  right: 18px;
  top: 14px;
  visibility: visible;
}
    .close{
        visibility: hidden;
    } 
.topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }   
 /*-----------------=== Smart Manu End ===-----------------------*/   
    .school_name {
  text-align: center;
}
    .recent_text_img img, .recent_text_img2 img {
  height: 338px;
  padding: 0 7px;
  width: 100%;
}
    .important_notice {
  margin-top: 20px;
} 
    
    .user_name {
  width: 90%;
}
    .passwoard_text {
        width: 90%;
}  
      .recent_text_img2 {
  margin-top: 20px;
}  
    
    
}

/*-----------------=== smartphones (portait and landscape)===-----------------------*/

@media only screen and (min-device-width: 320px) and (max-device-width: 640px) {
    .school_name h2 {
  font-size: 24px;
}
 .school_name > p {
  text-align: center;
}   
 .school_code {
  text-align: center;
}   
  /*-----------------=== Smart Manu Start ===-----------------------*/    
 .nav_button {
  display: none;
}  
.topnav {
  display: block;
     width: 100%;
} 
 .topnav a {display: none;}
  .topnav a.icon {
    float: left;
    display: block;
  }
     .topnav.responsive {position: relative;}
    
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
      visibility: hidden;
  } 
    .topnav.responsive .close {
  font-size: 24px;
  position: absolute;
  right: 18px;
  top: 14px;
  visibility: visible;
}
    .close{
        visibility: hidden;
    } 
.topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }      
  /*-----------------=== Smart Manu End ===-----------------------*/  
  .pro-slider .item img {
  width: 100%;
}  
 .important_notice {
  margin-top: 24px;
}   
   /*-----------------=== Main ===-----------------------*/    
 .about_area > h2 {
  font-size: 22px;
}   
  .about_area > img {
  height: 250px;
}
    .recent_text_img2 {
  margin-top: 20px;
}
        
}
/*=================   iPad  landscape  =======================*/

