


.header_content {
  overflow: hidden;
}
.content_area {
  margin-top: 24px;
}
.about_area > h2 {
  background: rgba(0, 0, 0, 0.66) none repeat scroll 0 0;
  border-radius: 34px;
  color: #fff;
  font-size: 40px;
  padding: 12px;
  text-align: center;
}
.about_area > img {
  box-shadow: 3px 3px 6px 3px #fff;
  height: 290px;
  width: 100%;
}


/*======================    ==========================*/
/*
Basic Information:
--------------------

Project Name   	:	NGH school Template
Author       	: 	NGH school
Our Site 		: 	https://youthenlight.com
Description 	: 	This is html5 School template
Developed By 	: 	Mahbubul Haq
Phone           :   01515672069


-----------------------------------------------------------------------------------*/
/*================== 1. Start Template Common CSS ===============*/

body{
    padding: 0;
    margin: 0;
    font-family: Montserrat,Philosopher,Roboto;
    
}
.bg_img_full_body{
    background: url("../img/bg.jpg");
}
.fix{
    margin: 0;
    padding: 0;
}
.no_padding{
    padding: 0;
}
.no_margin{
    margin: 0;
}
.bg_color {
  background: rgba(0, 0, 0, 0.70) none repeat scroll 0 0;
  padding-bottom: 6px;
  padding-top: 6px;

}
.header_logo {
  padding-top: 9px;
  text-align: center;
}
.header_area a img {
  height: 95px;
  width: 100px;
}
.header_area {
  padding-top: 25px;
}
/*================== 2. School name ===============*/
.school_name h2 {
  color: rgba(255, 255, 255, 1);
  font-family: Philosopher;
  font-size: 40px;
  line-height: 47px;
}
.school_name > p {
  font-family: Montserrat;
  font-weight: 500;
  font-size: 16px;
    color: rgba(255, 255, 255, .70);
}
.school_code {
  font-family: Philosopher;
  font-size: 16px;
  padding-top: 31px;
  text-align: right;
  color: rgba(255, 255, 255, .70);
    font-weight: 400;
    
}
/*================== 3. Nav Manu ===============*/
.nav_color {
  background: rgba(51, 51, 51, 0.75) none repeat scroll 0 0;
}

.nav_button ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.nav_button ul li {
  display: inline-block;
  text-align: center;
}
.nav_button a {
  border-radius: 26px;
  color: white;
  display: block;
  font-family: Montserrat;
  font-size: 17px;
  font-weight: 500;
  height: 50px;
  padding: 12px 35px;
  text-decoration: none;
    position: relative;
}
.nav_button a::after {
  background: #fff none repeat scroll 0 0;
  bottom: 0;
  content: "";
  height: 2px;
  left: 0;
  position: absolute;
  width: 1px;
  transition: 1s;
  visibility: hidden;
} 
.nav_button a:hover::after{
    visibility: visible;
     width: 100%;
}
.nav_button a:hover {
  background: rgba(50, 148, 246, 1) none repeat scroll 0 0;
  border-radius: 0;
  color: white;
  transition: all 1s ease 0s;
}
.search_ber {
  float: right;
  padding-top: 8px;
}
.search_ber input {
  height: 30px;
  width: 200px;
    padding-right: 0;
}
.searchsubmit {
  height: 33px;
  width: 51px;
    padding-left: 0;
}
/*  ======================  Head Line Marque ================*/
.head_line_color {
  background: rgba(51, 153, 255, 0.95) none repeat scroll 0 0;
}
.headline_text {
  display: flex;
}
.headline_text > p {
  font-size: 16px;
  text-align: center;
  width: 78px;
    line-height: 28px;
    margin: 0;
}
.headline_text marquee {
  color: white;
  font-weight: 500;
  line-height: 30px;
}

/*  ======================  Content Area Left ================*/
.wel_speech_area {
  background: rgba(255, 255, 255, 0.9) none repeat scroll 0 0;
  border-radius: 0 0 12px 12px;
  height: 260px;
  overflow: auto;
}

.wel_speech_area h3 {
  background: rgba(51, 153, 255, 0.90) none repeat scroll 0 0;
  font-family: Philosopher;
  font-size: 23px;
  margin: 0;
  padding: 4px 0 4px 10px;
    color: #fff;
}



/*========================   Footer Area ==================*/
.wel_speech_area form {
  margin-top: 38px;
}
.wel_speech_area span {
  margin-right: 12px;
  font-weight: 600;
}
.stu_id {
  text-align: center;
  margin-bottom: 5%;
}
.stu_id > span {
  margin-left: 5%;
}
.stu_id input {
  border: 1px solid #ddd;
  border-radius: 7px 0;
  height: 35px;
  margin-bottom: 30px;
  padding-left: 8px;
  width: 68%;
}
.stu_id select {
  border: 1px solid #ddd;
  height: 35px;
  padding-left: 8px;
  width: 68%;
}
.stu_id .month {
  margin-right: 45px;
}
.mobil_num{
    text-align: center;
}
.mobil_num input {
  border: 1px solid #ddd;
  border-radius: 7px 0;
  height: 35px;
  margin-bottom: 30px;
  padding-left: 8px;
  width: 68%;
}
.mobil_num > button {
  background: rgba(51, 153, 255, 0.29) none repeat scroll 0 0;
  border: 1px solid #3399ff;
  border-radius: 12px;
  float: right;
  height: 35px;
  margin-right: 26px;
  width: 68%;
}
.mobil_num > button:hover {
  background: rgba(51,153,255,0.17);
  transition: 0.8s ;
}
/*========================   Footer Area ==================*/
.footer_area {
  background: rgba(51, 51, 51, 0.87) none repeat scroll 0 0;
  margin-top: 30px;
  text-align: center;
}
.copy-right {
  color: #fff;
  font-family: Philosopher;
  padding-top: 12px;
}
.message {
  font-family: philosopher;
  font-size: 17px;
}
.message textarea {
  height: 150px;
  margin-bottom: 10px;
  width: 100%;
}
.message > input {
  height: 35px;
  width: 115px;
}





